// colors
$white: #fff;
$space: #333;
$moss: #72A98F;
$slate: #333645;
$cement: #CCCCCC;
$cherry: #E56464;
$blueberry: #3066BE;
$blizzard: #00aeff;
$legendary: #FED766;
$seaGreen: #2E933C;
$orange: #F96854;

// fonts
$montserrat: 'Montserrat', sans-serif;
$openSans: 'Open Sans', sans-serif;