.featured-promotion {
  border-radius: .25em;
  overflow: hidden;
  border: 1px solid #d1d1d1;
  .image{
    position: relative;
  }
  h4{
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 3;
    background-color: $white;
    padding: 8px 10px;
    font-size: 1.25em;
    font-weight: bold;
    font-family: $montserrat;
  }
  img{
    max-width: 100%;
    height: auto;
  }
  .content{
    padding: 10px;
  }
  .mail{
    padding: 8px 10px;
    display: inline-block;
    border: 2px solid #efefef;
    font-family: $montserrat;
    color: $space;
    transition: all .1s ease-in;
    &:hover{
      text-decoration: none;
      background-color: $space;
      color: $white;
      border: 2px solid $space;
    }
    svg{
      margin-right: .5em;
    }
  }
}