.profile-overview{
  header{
    font-size: 1.75em;
    font-weight: bold;
    font-family: $montserrat;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid $cement;
    display: flex;
    align-items: flex-end;
    span{
      margin-left: 15px;
      color: $slate;
      display: inline-block;
      padding: 8px 10px;
      border: 1px solid $cement;
      font-size: .45em;
      border-radius: 25px;
      font-family: $lato;
    }
    i{
      margin-right: 5px;
    }
  }
}

.character-stats{
  margin: 0;
  width: 100%;border-radius: 5px;
  border: 1px solid $cement;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  .stat-icon{
    width: 100%;
    i{
      font-size: 30px;
      margin-bottom: 3px;
    }
  }
  .stat{
    display: block;
    flex: 1 0 auto;
    text-align: center;
  }
  @media (min-width: 992px) {
    display: block;
  }
  strong{
    margin: 0 auto 15px auto;
    display: block;
    font-size: 10px;
    font-family: $lato;
    font-weight: 300;
  }
  p{
    margin: 0;
    line-height: 1;
    font-size: 19px;
    text-transform: uppercase;
    font-family: $montserrat;
    font-weight: bold;
  }
  small{
    font-size: 11px;
    float: right;
  }
  .health{
    color: #27CC4E;
  }
  .primary{
    color: #EE4266;
  }
  .mastery{
    color: #9256FF;
  }
  .haste{
    color: #0ED59B;
  }
  .critical{
    color: #E01C1C;
  }
  .versatility{
    color: #BFBFBF;
  }
}
