.profile-header {
  background-color: #ccc;
  min-height: 450px;
  background-image: url('../images/splash.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  position: relative;

  .actions{
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .action{
      color: $white;
      background-color: transparent;
      margin-left: 15px;
      padding: 7px 12px;
      border-radius: 10px;
      cursor: pointer;
      font-size: 12px;
      transition: all .1s ease-in;
      .fa{
        margin-right: 5px;
      }
      &:hover{
        text-decoration: none;
      }
    }
    .action.update{
      border: 1px solid $white;
      &:hover{
        background-color: $blueberry;
        border: 1px solid $blueberry;
      }
    }
  }

  p.last-modified {
    position: absolute;
    bottom: 0;
    left: 15px;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    text-align: center;
  }

  .profile-header-content {
    padding: 50px 0;
  }

  .summary .content {
    color: $white;
    border: 1px solid rgba($white, .5);
    border-radius: 2px;
  }

  main {
    padding: 0 15px;
  }

  h4 {
    font-family: $montserrat;
  }

  .ilvl,
  .pve,
  .pvp {
    text-align: center;
  }

  .pve,
  .pvp {
    list-style-type: none;
    margin: 10px auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;

    li {
      display: inline-block;
      margin-right: 15px;
      min-width: 80px;
    }

    i {
      font-size: 0.9em;
    }

    span {
      display: block;
      font-family: $montserrat;
      font-size: 1.7em;
    }
  }

  .pvp {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid rgba($white, .5);
  }

  header {
    padding: 15px;
    min-height: 120px;
    position: relative;

    .meta{
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 3;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    p.ilvl{
      background-color: $seaGreen;
      padding: 4px 10px;
      border-radius: 10px;
      color: $white;
      font-size: 15px;
      @include depth;
    }

    .avatar {
      border-radius: 4px;
    }

    .info {
      color: $white;
      text-shadow: 1px 1px 2px #000;
    }

    h2,
    p {
      margin: 0;
    }

    h2 {
      font-family: $montserrat;
      margin-bottom: 5px;
      font-weight: 700;
      font-size: 30px;
    }

    p {
      font-size: 20px;
    }

    p.realm {
      font-size: 0.8em;
      margin: 5px auto 0;
    }
  }

  .panel {
    @include depth;
  }

  .avatar-wrapper {
    position: relative;
    float: left;
    width: 90px;
    height: 90px;
    border-radius: 4px;
    margin-right: 15px;

    img {
      @include depth;
      width: 90px;
      height: auto;
    }
  }

  .icons {
    position: absolute;
    bottom: -5px;
    width: 100%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .class,
  .faction,
  .level {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    @include depth;
  }

  .level {
    background-color: $slate;

    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $white;
      font-family: $montserrat;
      font-size: 11px;
    }
  }

  .class,
  .faction {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .class {
    background-position: center bottom;
  }

  .faction {
    background-color: none;

    p {
      bottom: 2px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 16px;
    }

    &.horde {
      background-image: url("../images/horde.png"), linear-gradient(45deg, #9F041B, #F5515F);
    }

    &.alliance {
      background-image: url("../images/alliance.png"), linear-gradient(45deg, #5341FF, #53A0FD, #6B97FD);
    }
  }
}
