h1.not-found{
  color: $white;
  font-family: $lato;
  font-style: italic;
  font-weight: 300;
  font-size: 3em;
  width: 100%;
  text-rendering: optimizeLegibility;
  text-shadow: 1px 1px 2px #000;
  span{
    display: block;

  }
}

p.status-code{
  color: $white;
  font-family: $montserrat;
  font-weight: bold;
  font-size: 1.5em;
  margin: 15px auto;
}
