@import "notfound";


.home-banner{
  min-height: 400px;
  background-image: url('../images/splash.png');
  background-attachment: fixed;
  position: relative;
  margin: 0 auto 40px auto;
}

.splash-content{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h1, h2{
    color: $white;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 2px #000;
  }
  h1{
    font-weight: 600;
    font-size: 52px;
    margin-bottom: 0;
    font-family: $montserrat;
  }
  h2{
    margin-top: 5px;
    font-weight: 300;
    font-size: 32px;
    font-style: italic;
    font-family: $lato;
  }
}

.home-page, .about-page{
  article{
    font-size: 17px;
  }
  p{
    font-family: $lato;
    margin-bottom: 25px;
    font-size: 400;
  }
  .center{
    text-align: center;
  }
  h3{
    font-size: 24px;
    font-family: $montserrat;
    font-weight: 600;
    text-align: center;
  }
  .cherry{
    color: $cherry;
  }
}

.realm-list{
  background-color: $white;
  border: 5px;
  overflow: hidden;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    position: relative;
    z-index: 3;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    span{
      font-size: 22px;
      font-weight: 300;
      font-family: $montserrat;
    }
  }
  .realm-list-content{
    max-height: 400px;
    overflow-y: scroll;
    z-index: 2;
    position: relative;
  }
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    &:nth-child(odd){
      background-color: #FDFCFC;
    }
  }
  .realm-status{
    height: 50px;
    width: 50px;
    position: relative;
    i.status-dot{
      position: absolute;
      height: 15px;
      width: 15px;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      background-color: #E63946;
      transform: translate(-50%, -50%);
      &.true{
        background-color: #7ED321;
      }
    }
  }
  h5{
    font-family: $lato;
    font-weight: 700;
    margin: 0 auto;
    font-size: 16px;
  }
  p{
    font-size: 13px;
    font-family: $montserrat;
    font-weight: 300;
    margin: 5px auto;
  }
  .type{
    text-transform: uppercase;
  }
  .pop{
    text-transform: capitalize;
  }
}
