// colors
$white: #fff;
$space: #333;
$moss: #72A98F;
$slate: #333645;
$cement: #CCCCCC;
$cherry: #E56464;
$blueberry: #3066BE;
$legendary: #FED766;
$seaGreen: #2E933C;
$orange: #F96854;

// fonts
$montserrat: 'Montserrat', sans-serif;
$openSans: 'Open Sans', sans-serif;

// Mixins
@mixin depth {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}

@mixin smwidth {
  @media (min-width: 480px) {
    @content;
  }
}

@mixin medwidth {
  @media (min-width: 992px) {
    @content;
  }
}

@import "vendor/animate";
@import "layout/layout";
@import "pages/pages";
@import "components/components";

.no-javascript{
  margin: 40px auto;
  max-width: 800px;
  p{
    font-size: 18px;
  }
}

*{

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
