// colors
$white: #fff;
$space: #333;
$moss: #72A98F;
$slate: #333645;
$cement: #CCCCCC;
$cherry: #E56464;
$blueberry: #3066BE;
$legendary: #FED766;

// fonts
$montserrat: 'Montserrat', sans-serif;
$lato: 'Lato', sans-serif;

@import "vendor/animate";
@import "layout/layout";
@import "pages/pages";
@import "components/components";

.no-javascript{
  margin: 40px auto;
  max-width: 800px;
  p{
    font-size: 18px;
  }
}
