$complete: #98E28E;
$incomplete: #B4654A;

.profile-progression{
  .raid-wrapper+.raid-wrapper{
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid $cement;
  }
}

.progression-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  h4{
    font-family: $montserrat;
    margin: 0 auto 10px;
  }
  .prog-bar{
    display: flex;
    align-items: center;
    &.prog-bar{
      margin-top: 10px;
    }
  }
  i.total{
    font-family: $montserrat;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    float: right;
  }
  .bar-label{
    font-family: $openSans;
    font-weight: 200;
    width: 100px;
    margin-right: 10px;
    text-transform: capitalize;
  }
  .bar{
    flex: 1 0 auto;
    position: relative;
    height: 30px;
    background-color: $slate;
    border: 1px solid $slate;
    display: flex;
    .boss{
      flex: 1 0 auto;
      background-color: lighten($slate, 10);
      height: 100%;
      &+.boss{
        margin-left: 1px;
      }
    }

    &.complete .killed{
      background-color: $complete;
    }
    &.incomplete .killed{
      background-color: $incomplete;
    }
  }
}

ul.legacy-progression-list{
  margin-top: 15px;
  list-style-type: none;
  border: 1px solid $cement;
  background-color: lighten($cement, 15);
  border-radius: 5px;
  padding: 0;
  li.legacy-raid{
    min-width: 120px;
  }
  .status{
    display: inline-block;
    height: 25px;
    width: 25px;
    flex: 0 0 25px;
    border-radius: 50%;
    position: relative;
    &.complete{
      background-color: $complete;
    }
    &.incomplete{
      background-color: $incomplete;
    }
    .fa{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $white;
    }
  }
  h5{
    font-weight: 300;
    color: $slate;
    margin: 0;
    min-height: 25px;
    padding: 10px;
    line-height: 1;
    display: flex;
    align-items: center;
    .name{
      margin-left: 10px;
    }
  }
}

.profile-pvp{
  margin-top: 30px;
  @include medwidth(){
    margin-top: 0;
  };
  .highest-personal-rating{
    text-align: center;
    margin-bottom: 10px;
    span{
      display: block;
      margin: 5px auto;
      font-size: 1.5em;
      font-family: $montserrat;
      font-weight: bold;
    }
  }
  .rankings{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    text-align: center;
    li{
      display: inline-block;
      flex: 1 0 auto;
      padding: 5px;
      margin: 0 5px;
      border: 1px solid #f1f1f1;
      border-radius: 5px;
    }
    span{
      display: block;
      margin: 5px auto;
      font-size: 1.3em;
      font-family: $montserrat;
      font-weight: bold;
    }
  }
  .statistics{
    list-style-type: none;
    margin: 0;
    padding: 15px;
    li{
      margin: 5px 0;
    }
    span{
      padding: 2px 5px;
      background-color: $slate;
      color: $white;
      border-radius: 2px;
      margin: 0 10px 0 20px;
      font-family: $montserrat;
      font-weight: bold;
      letter-spacing: 1px;
      min-width: 40px;
      text-align: center;
      display: inline-block;
    }
  }
}
