.bookmarks-container{
  position: fixed;
  bottom: 30px;
  right: 15px;
  z-index: 1000;
  .bookmark-button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 50%;
    @include depth;
    background-color: #f1f1f1;
    transition: all .2s ease-in;
    &:hover{
      background-color: #f5f5f5;
      box-shadow: 0 3px 5px 0 rgba(0,0,0,0.23), 0 1px 10px 0 rgba(0,0,0,0.18), 0 2px 4px -1px rgba(0,0,0,0.4);
      i{
        color: #d5d5d5;
      }
    }
    i{
      transition: all .2s ease-in;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 22px;
      color: #d1d1d1;
    }
    &.true{
      background-color: $seaGreen;
      i{
        color: $white;
      }
    }
  }
}

p.acknowledgement{
  text-align: center;
  padding: 15px;
  font-style: italic;
  font-family: $montserrat;
  font-size: 12px;
}

.bookmark-list{
  position: absolute;
  bottom: 0;
  right: calc(100% + 15px);
  width: 180px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-radius: 2px;
  @include depth;
  background-color: #f1f1f1;
  max-height: 300px;
  overflow-y: scroll;
  opacity: 0;
  visibility: hidden;
  transition: .2s ease-in;
  &.true{
    opacity: 1;
    visibility: visible;
  }
  h5{
    margin: 0;
  }
  li{
    padding: 15px;
    background-color: #f1f1f1;
    &:nth-child(even){
      background-color: #f5f5f5;
    }
  }
  .bookmark-current{
    border-radius: 5px;
    background-color: $cement;
    padding: 5px 10px;
    cursor: pointer;
    transition: all .2s ease-in;
    .fa{
      color: $space;
      margin-right: 15px;
      position: relative;
      top: 1px;
    }
    &:hover{
      opacity: .9;
    }
  }
  .bookmark{
      position: relative;
      padding: 8px 12px;
      .delete{
        position: absolute;
        top: 3px;
        right: 3px;
        color: $cherry;
        cursor: pointer;
      }
      h5 a{
        font-size: 16px;
        font-weight: bold;
        color: $seaGreen;
        &:hover{
          text-decoration: none;
        }
      }
      p{
        font-size: 12px;
        font-style: italic;
        margin: 0;
      }
  }
}
