.cookie-warning{
  position: absolute;
  top: 0;
  right: calc(100% + 30px);
  width: 300px;
  background-color: $space;
  color: $white;
  border-radius: 5px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
  text-align: center;
  padding: 15px;

  button{
    display: inline-block;
    margin: auto;
    border-radius: 2px;
    border: 0;
    background-color: $moss;
    padding: 5px 10px;
    transition: all .2s ease-in;
    &:hover{
      opacity: .9;
    }
    i{
      margin-left: 10px;
    }
  }
}

.bookmarks-panel{
  position: absolute;
  bottom: 0;
  right: calc(100% + 30px);
  margin: 0;
  border: 1px solid darken($moss, 5);
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
  width: 300px;
  .panel-heading{
    color: $white;
    background-color: $moss;
    text-align: center;
  }
  .center{
    text-align: center;
    margin: 0;
  }
  p{
    margin: 0;
  }
  .panel-body{
    padding: 0;
  }
  .bookmark-list{
    max-height: 300px;
    overflow-y: scroll;
  }
  .bookmark-current{
    border-radius: 5px;
    background-color: $cement;
    padding: 5px 10px;
    cursor: pointer;
    transition: all .2s ease-in;
    .fa{
      color: $space;
      margin-right: 15px;
      position: relative;
      top: 1px;
    }
    &:hover{
      opacity: .9;
    }
  }
  .bookmark-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    h5{
      margin: 0;
    }
    li{
      padding: 15px;
      &:nth-child(even){
        background-color: #f1f1f1;
      }
    }
  }
  .bookmark-info{
    position: relative;
    .delete{
      position: absolute;
      top: 0;
      right: 0;
      color: $cherry;
      cursor: pointer;
    }
    h5 a{
      font-size: 16px;
      font-weight: bold;
      color: $moss;
      &:hover{
        text-decoration: none;
      }
    }
    p{
      font-size: 12px;
      font-style: italic;
    }
  }
}

.bookmark{
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  p{
    display: inline-block;
    color: $white;
    border: 1px solid $white;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 12px;
    &:hover{
      background-color: $cherry;
      border: 1px solid $cherry;
    }
  }
}
