@import "form";

.search-results-wrapper{
  margin: 20px auto;
  h3{
    margin: 10px auto 20px;
  }
  .loading{
    text-align: center;
  }
}

.result-card{
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 15px;
}
