*{

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  padding: 0;
  font-family: $openSans;
  font-size: 15px;
}

.no-javascript{
  margin: 40px auto;
  max-width: 800px;
  p{
    font-size: 18px;
  }
}